{% extends 'base.html' %}

{% block content %}
    <div class="message-box">
        <div class="header-box">
            <h2 id="chat-room-title">Chat Room: {{code}} as {{username}}</h2>
            <button type="button" id="dc-btn" onClick="disconnectUser()">X</button>
        </div>
        <div class="messages" id="messages">
            <!-- add a div here where the chat messages has bubbles like messenger-->

        </div>
        <div class="inputs">
            <input 
                type="text" 
                rows="3" 
                placeholder="Message" 
                name="message" 
                id="message"
            />
            <button type="button" name="send" id="send-btn" onClick="sendMessage()">
                Send
            </button>
        </div>
    </div>
<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages")
    <!-- make sure to know if the current name is the sender to print it in the right or left side-->
    const createMessage = (name, msg, date) => {
        const isCurrentUser = name === "{{username}}";
        const alignment = isCurrentUser ? 'flex-end' : 'flex-start';
        console.log(name === "{{username}}");
        const textColor = isCurrentUser ? '#0695FF' : "whitesmoke";

        const content = `
            <div class="text" style="justify-content: ${alignment}; display: flex;">
                <span id="chat-msg" style="background-color: ${textColor};">
                    <strong>${name}</strong>: ${msg}
                </span>
                
            </div>
            <div class="text" style="justify-content: ${alignment}; display: flex;">
                <span class="muted">
                    ${date}
                </span>
            </div>
            
        `
        messages.innerHTML += content;
        messages.scrollTop = messages.scrollHeight;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message, data.date);
    });

    const disconnectUser = () => {
        socketio.emit("disconnect_req", {username: "{{username}}"});
    };

    socketio.on("redirectUser", (data) => {
        if("{{username}}" == data.username) window.location.href = data.url;
    });

    const sendMessage = () => {
        const message = document.getElementById("message")
        if (message.value == "") return;
        socketio.emit("message", {data: message.value});
        message.value = "";
    };
</script>
<script>
    // Get the input field
    var input = document.getElementById("message");

    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function(event) {
    // If the user presses the "Enter" key on the keyboard
    if (event.key === "Enter") {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("send-btn").click();
    }
    });
</script>

{% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}", "{{msg.date}}");
    </script>
{% endfor %}
{% endblock %}